@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3C41D1;
  --secondary-color: #FFF200;
  --accent-color: #FAFAFA;
}

body {
  font-family: system-ui, sans-serif;
  color: #1a1a1a;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}